.ant-card-body {
  padding: 10px;
}

.ant-btn-dangerous {
  color: #fff !important;
  border-color: #c80a0a;
  background: #c80a0a !important;
}

.ant-btn {
  border-radius: 6px !important;
}

.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: #c80a0a;
}

.ant-table-wrapper {
  border-radius: 0.5rem;
  border: 1px solid#e2e8f0;
  width: 100%;
  overflow-x: scroll;
}

.ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
  box-shadow: none;
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
  box-shadow: none;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 20px 12px; 
}